{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{% static 'assets/img/nl_logo.png' %}">

    <title>Propertyssimo - World Class Real Estate Agency</title>

    <!-- Bootstrap core CSS -->
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

    <link href="{% static 'assets/css/news_carousel.css' %}" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>

      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    {% block assets %} {% endblock %}
    <style>
    li{
      
    font-family: 'Open Sans Condensed', sans-serif;
    font-size:17px;
 }

 p
 {
  font-family: 'Open Sans Condensed', sans-serif;
    font-size:17px;
 }
</style>
   
  </head>

  <body>

    <nav class="navbar-top navbar-default navbar-fixed-top" style='height:50px'>
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><img class="img-responsive" src="{% static 'assets/img/nl_logo.png' %}" style='width:70%;margin-top:-10px;'></a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav" style='margin-top:-10px;'>
        <li><a href="{% url 'marina' %}">Dubai Marina</a></li>
        <li><a href="{% url 'jbr' %}">JBR</a></li>
        <li><a href="{% url 'palm' %}">Palm Jumeirah</a></li>
        <li><a href="{% url 'downtown' %}">Downtown Dubai</a></li>
      </ul>
       <ul class="nav navbar-nav pull-right" style='margin-top:-25px; text-color'>
        <li><a href='#'><p class="navbar-text navbar-right"><i class="fa fa-phone fa-2"></i> <small>+971 4 277 6321</small></p></a></li>
        <li><a href="mailto:contact@propertyssimo.com"><p class="navbar-text navbar-right"><i class="fa fa-envelope-o fa-2"></i> <small>contact@propertyssimo.com</small></p></a></li>
        <li><a href="#"><p class="navbar-text navbar-right" ><i class="fa fa-linkedin fa-2"></i></p></a></li>
        <li><a href="#"><p class="navbar-text navbar-right" ><i class="fa fa-twitter fa-2"></i></p></a></li>
        <li><a href="#"><p class="navbar-text navbar-right"><i class="fa fa-facebook fa-2"></i></p></a></li>
        
      </ul>
    </div><!-- /.navbar-collapse -->

  </div>
</nav>



{% block nav %} {% endblock %}
    
{% block main %} {% endblock %}

<footer id="footer" class="top-space" style='margin-top:100px'>

        <div class="footer1">
            <div class="container">
                <div class="row">
                  <div class="col-md-6 widget">
                      <h4 style='color:white'>More about Propertyssimo</h4>
                        <div class="widget-body">
                          <p>Propertyssimo Real Estate has recently launched our new approach and 
                            integrated the latest technologies into business of real estate. Supported with 
                            highly trained, dedicated, classy team of professionals, prioritizing the interests 
                            of our Clientelle Exclusively, we are here to nurture your comfort and success.</p> 
                            <p style='font-family: Open Sans Condensed, sans-serif;'>Being a former AJ Real Estate, established in 2003 we have grown and learned 
                            following the strategy of UAE Leaders, combined with international expertise 
                            and practice. The world goes further, so we do.</p>
                            <button class='btn btn-default' style='background-color:#232323; color:white' href="#">Read More</button>
                          </div>
                        </div>
                    
                   

                    

                    <div class="col-md-6 widget">
        <iframe width='100%' height='250px' frameBorder='0' src='https://a.tiles.mapbox.com/v4/hammad.lleon42n/attribution,zoomwheel.html?access_token=pk.eyJ1IjoiaGFtbWFkIiwiYSI6InRVem9HZ3cifQ.KCNUOrgFEeNoJ3pHmKVsSg'></iframe>
                    </div>
                </div> <!-- /row of widgets -->
            </div>
        </div>

        <div class="footer2">
            <div class="container">
                <div class="row">
                    
                    <div class="col-md-6 widget">
                        <div class="widget-body">
                            <p class="simplenav">
                                <a href="#">Home</a> | 
                                <a href="about.html">About Us</a> |
                                <a href="sidebar-right.html">Services</a> |
                                <a href="contact.html">Advice</a> |
                                <a href="signup.html">Blog</a> |    
                                <a href="signup.html">Events</a> |
                                <a href="signup.html">Careers</a> |
                            </p>
                        </div>
                    </div>

                    <div class="col-md-6 widget">
                        <div class="widget-body">
                           <p class="simplenav">
                            <a href="" class='pull-right' style='margin-right:10px;'><i class="fa fa-twitter fa-2"></i></a>
                                <a href="" class='pull-right' style='margin-right:10px;'><i class="fa fa-dribbble fa-2"></i></a>
                                <a href="" class='pull-right' style='margin-right:10px;'><i class="fa fa-github fa-2"></i></a>
                                <a href="" class='pull-right' style='margin-right:10px;'><i class="fa fa-facebook fa-2"></i></a>
                              </p>
                        </div>
                    </div>

                </div> <!-- /row of widgets -->
            </div>
        </div>

    </footer> 
    {% block script %} {% endblock %} 
  </body>

</html>
