{% extends 'base.html' %}
{% load staticfiles %}

{% block navi %}
                        
                        <li ><a href="{% url 'investing' %}">Investors</a></li>
                                <li><a href="{% url 'selling' %}">Selling</a></li>
                                <li  class="active"><a href="{% url 'buying' %}">Buying</a></li>
                                <li><a href="{% url 'landlords' %}">Landlords</a></li>
                                <li><a href="{% url 'renter' %}">Letting</a></li>
                                <li><a href="{% url 'vacation' %}">Vacational Rentals</a></li>
                                
                            {% endblock %}

{% block main %}


<div class='row' style='background-color:#f0f0f0;width:100%;'>
 <img src="{% static 'img/buying1.jpg' %}" class="img-responsive center-block" alt="workimg" style="width:;">
</div>

<div class='row' style="background-color:#262626;width:100%;padding:25px;">
    <div class='container text-center'>
     <p style='font-family: Great Vibes, cursive;font-size:30px;margin-top:10px;color:#f0f0f0;'>At Propertyssimo, our philosophy is simple, yet it is the key to our success: The right broker makes all the difference.</p>
</div>
</div>


 <section class="portfolio" style='margin-top:;margin-bottom:px;z-index:10;background-color:#f0f0f0;' >
       <div class='container' style=' margin-top:-59px;margin-bottom:-80px; box-shadow:0 0 30px grey; padding-top:50px; padding-bottom:70px;position:relative; background-color:#E6E6E6; width:74%;'>
         <div class='container' style=' margin-top:-50px;margin-bottom:-;margin-left:-14px; box-shadow:0 0 10px grey; padding-top:50px; padding-bottom:;position:; background-color:#f0f0f0; width:103%;'>


            <p class="heading text-center" style='font-family:Cinzel, serif;color:;font-size:25px;hover:#FF6600;focus:#FF6600'>Buyer Services</p>

           
                 <div class='row'>
                    <div class='col-md-2'></div>

                    <div class='col-md-8'>
                        <h4 style='color:#424242;font-size:15px;'><b>Ready to buy? We can help!</b></h4>
                    <p class=" " style='color:grey;font-size:12px;'>Whether your upcoming investment represents a threshold-crossing life transition or a strategic acquisition, Propertyssimo  can create a plan to suit your needs and personality. Our agents are highly experienced in navigating the maze of today's market from start to finish, including property identification, lending options, negotiations, and final closing.</p>

 <h4 style='color:#424242;font-size:15px;'><b>Propertyssimo Buyer services include:</b></h4>
 <div class='col-lg-5' style='padding:15px;'>
    <div class='row'>
    <h4 style='color:#424242;font-size:15px;'><b>Technology</b></h4>
    <p style='color:grey;font-size:12px;'>We live in the heart of the high-tech world, and use the most current and evolved technology to stay informed about the market and manage your purchase. We connect through your preferred technology to ease the communication process and match your lifestyle. And, when you need some good old fashioned face time, we'll happily oblige.</p>
    </div>
    <div class='row'>
    <h4 style='color:#424242;font-size:15px;'><b>Inspection Assistance</b></h4> 
    <p style='color:grey;font-size:12px;'>Any property is worth a closer look. Your Propretyssimo agent will provide a list of qualified property inspectors, and attend inspections with you. If the inspections reveal items that require correction, your agent will advise as to whether or not it may be possible to obtain credits or repairs.</p> 
    </div>
    
</div>
<div class='col-lg-1'></div>
<div class='col-lg-5' style='padding:15px;'>
  
<div class='row'>
<h4 style='color:#424242;font-size:15px;'><b>Personal Guidance</b></h4>
<p style='color:grey;font-size:12px;'>Think of us as your private concierge. Your Propertyssimo agent will help you review disclosure documentation for the properties you like, and establish the right offer price and terms. We will then present your offer in the most favorable light.</p>
</div>
<div class='row'>
    <h4 style='color:#424242;font-size:15px;'><b>Closing Assistance</b></h4>
    <p style='color:grey;font-size:12px;'>We'll handle entire process to ensure a smooth experience. And when it's time to sign closing papers, your agent will be available to handle any last minute details.</p>
    </div> 
      <div class='row'>
<h4 style='color:#424242;font-size:15px;'><b>Local Connections</b></h4>
<p style='color:grey;font-size:12px;'>We get Dubai. We live here. Propertyssimo agents help you figure out which price ranges, neighborhoods and property types best fit your needs. When it's time to make an offer, we'll provide unrivaled guidance, detailed market information and analysis to help you close the best deal.</p>
</div>

</div>

</div>
</div>



</div>
<div class='container' style='width:70%; margin-top:25px;'>
<h4 style='color:#424242;font-size:15px;'><b>Financing</b></h4>
<p style='color:grey;font-size:12px;'>Dubai is a wonderful and unique city, with vast diversity in population and housing options. With so many types of properties on the market, a local lending specialist is a necessity. You need someone who is intimately familiar with loan-to-value tolerances for each type of property, market and construction changes, and the types of documentation required from both buyers and sellers.</p>
<p style='color:grey;font-size:12px;'>Propertyssimo provides one-stop shopping in real estate. We want to make sure your transaction closes smoothly and on-time. To make sure this happens we work with the best in the business. You'll see the difference when your real estate agent and lender work as a team.</p>



<h4 style='color:#424242;font-size:15px;'><b>Get Pre-Approved</b></h4>
<p style='color:grey;font-size:12px;'>We recommend that before you begin house hunting, you begin the loan pre-approval process.</p>
 <p style='color:grey;font-size:12px;'>This gives you the advantages that you'll know exactly what price range to look in and a seller will take your offer more seriously.<p>
</div>
</div>
</div>

</div>
</div><!--blog wrap-->

 </div>
<div class='col-md-2'></div>
</div >
</div >
</section>





{% endblock %}

