{% extends 'base.html' %}
{% load staticfiles %}

{% block navi %}
                        <li ><a href="/">Home</a></li>
                        <li ><a href="{% url 'investing' %}">Investors</a></li>
                                <li><a href="{% url 'selling' %}">Selling</a></li>
                                <li  class="active"><a href="{% url 'buying' %}">Buying</a></li>
                                <li><a href="{% url 'landlords' %}">Landlords</a></li>
                                <li><a href="portfolio-single.html">Letting</a></li>
                                <li><a href="portfolio-single.html">Vacational Rentals</a></li>
                                <li><a href="portfolio-single.html">New Developments</a></li>
                            {% endblock %}

{% block main %}

 <section class="bread-wrap">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <h4>Buying</h4>
                    </div>
                    <div class="col-sm-6 hidden-xs text-right">
                        <ol class="breadcrumb">
                            <li><a href="index.html">Home</a></li>
                            <li>Buying</li>
                        </ol><!--breadcrumb-->
                    </div>
                </div>
            </div>
        </section><!--.bread-wrap-->
        <div class="divide80"></div>
        <div class="container">
            <div class="row">   
                <div class="col-md-9">
                    <div class="row">                       
                          <div class="col-md-12">
                            <div class="blog-wrap">
                                
                                    
                                        <img src="{% static 'img/showcase-1.jpg' %}" class="img-responsive" alt="workimg">
                                        
                                <div class="divide30"></div>
                                <div class="blog-desc">
                                    <h4>Buyer Services</h4>
                                   <h5>Ready to buy? We can help!</h5>
  <p>Whether your upcoming investment represents a threshold-crossing life transition or a strategic acquisition, Propertyssimo  can create a plan to suit your needs and personality. Our agents are highly experienced in navigating the maze of today's market from start to finish, including property identification, lending options, negotiations, and final closing.</p><br/>
<div class='collapse' id='viewdetails'>
  
 <h5>Propertyssimo Buyer services include:</h5>
 <div class='col-lg-5' style='padding:15px;'>
    <div class='row'>
    <h3>Technology</h3>
    <p>We live in the heart of the high-tech world, and use the most current and evolved technology to stay informed about the market and manage your purchase. We connect through your preferred technology to ease the communication process and match your lifestyle. And, when you need some good old fashioned face time, we'll happily oblige.</p>
    </div>
    <div class='row'>
    <h3>Inspection Assistance</h3> 
    <p>Any property is worth a closer look. Your Propretyssimo agent will provide a list of qualified property inspectors, and attend inspections with you. If the inspections reveal items that require correction, your agent will advise as to whether or not it may be possible to obtain credits or repairs.</p>
    </div>
    <div class='row'>
    <h3>Closing Assistance</h3>
    <p>We'll handle entire process to ensure a smooth experience. And when it's time to sign closing papers, your agent will be available to handle any last minute details.</p>
    </div> 
</div>
<div class='col-lg-1'></div>
<div class='col-lg-5' style='padding:15px;'>
    <div class='row'>
<h3>Local Connections</h3>
<p>We get Dubai. We live here. Propertyssimo agents help you figure out which price ranges, neighborhoods and property types best fit your needs. When it's time to make an offer, we'll provide unrivaled guidance, detailed market information and analysis to help you close the best deal.</p>
</div>
<div class='row'>
<h3>Personal Guidance</h3>
<p>Think of us as your private concierge. Your Propertyssimo agent will help you review disclosure documentation for the properties you like, and establish the right offer price and terms. We will then present your offer in the most favorable light.</p>
</div>
</div>
</div>
        </div>
                                    </div><!--blog wrap-->


<p class='text-center'><a class="btn" data-toggle="collapse" data-target="#viewdetails">Read more &raquo;</a></p>

                            <ul class="pager">
                        </div>
                    </div><!--row-->
                </div>
                <div class="col-md-3">
                    <div class="sidebar-box margin40">
                        <h4>Search</h4>
                        <form role="form" class="search-widget">
                            <input type="text" class="form-control">
                            <i class="fa fa-search"></i>
                        </form>
                    </div><!--sidebar-box-->
                    <div class="sidebar-box margin40">
                        <h4>Investing in Dubai</h4>
                        <p>
                            Investing in Real Estate in Dubai is arguably the best and safest way to increase your wealth. Read on to get an understanding in investment and how we can help you.
                        </p>
                    </div><!--sidebar-box-->
                    <div class="sidebar-box margin40">
                        <h4>Categories</h4>
                        <ul class="list-unstyled cat-list">
                            <li><a href="{% url 'selling' %}">Selling</a><i class="fa fa-angle-right"></i></li>
<li><a href="{% url 'investing' %}">Investing</a><i class="fa fa-angle-right"></i></li>
<li><a href="portfolio-single.html">Landlords</a><i class="fa fa-angle-right"></i></li>
<li><a href="portfolio-single.html">Letting</a><i class="fa fa-angle-right"></i></li>
<li><a href="portfolio-single.html">Vacational Rentals</a><i class="fa fa-angle-right"></i></li>
<li><a href="portfolio-single.html">New Developments</a><i class="fa fa-angle-right"></i></li>
                        </ul>
                    </div><!--sidebar-box-->                
                </div>
            </div>
        </div><!--blog container-->

{% endblock %}

