{% extends 'base.html' %}

{% load staticfiles %}

{% block navi %}
                        
                        <li ><a href="{% url 'investing' %}">Investors</a></li>
                                <li><a href="{% url 'selling' %}">Selling</a></li>
                                <li><a href="{% url 'buying' %}">Buying</a></li>
                               <li><a href="{% url 'landlords' %}">Landlords</a></li>
                                <li><a href="{% url 'renter' %}">Letting</a></li>
                                <li><a href="{% url 'vacation' %}">Vacational Rentals</a></li>
                              
                            {% endblock %}

{% block main %}




<div class='row' style='background-color:#f0f0f0;width:100%;'>
 <img src="{% static 'img/careers.jpg' %}" class="img-responsive center-block" style="height:30%;width:55%" alt="workimg">
</div>

<div class='row' style="background-color:#262626;width:100%;padding:25px;">
	<div class='container text-center'>
	 <p style='font-family: Great Vibes, cursive;font-size:30px;margin-top:10px;color:#f0f0f0;'>At Propertyssimo, our philosophy is simple, yet it is the key to our success: The right broker makes all the difference.</p>
</div>
</div>

 <section class="portfolio" style='margin-top:;margin-bottom:px;z-index:10;background-color:#f0f0f0;' >
         <div class='container' style=' margin-top:-59px;margin-bottom:-85px; box-shadow:0 0 30px grey; padding-top:50px; padding-bottom:70px;position:relative; background-color:#f0f0f0;'>


         	<p class="heading text-center" style='font-family:Cinzel, serif;color:grey;font-size:25px;hover:#FF6600;focus:#FF6600'>Careers</p>

         	<div class='container'>
         		 <div class='row'>
         		 	<div class='col-md-3'>
                        
                            <div class='' style='box-shadow:0 0 10px grey; background-color:white;'>
                            <p class="heading text-center" style='font-family:Cinzel, serif;color:grey;font-size:17px;padding-top:25px;'>Career Opportunities</p>
                            <ul style='margin-top:-15px;'>
                                <li style='color:grey;font-size:12px' >New Agents</li>
                                <li style='color:grey;font-size:12px'>Experienced Agents</li>
                                <li style='color:grey;font-size:12px'>Other Employees</li>
                                <hr>
                            </ul>
                        </div>
                        
                        <div class='' style='box-shadow:0 0 10px grey; background-color:grey;margin-top:-12px;'>
                            <p class="heading text-center" style='font-family:Cinzel, serif;color:white;font-size:15px;padding-top:10px;padding-bottom:15px;'>Are you well connected?</p>

                            <div class='' style='box-shadow:0 0 5px grey; background-color:white; margin-top:-22px;padding:15px;'>
                          
                            <p style='color:grey;font-size:12px;'>Apply to be a Referral Director and refer your circle of friends when they are looking to buy, sell or rent the property. A Propertyssimo agent will do the work, you'll collect a referral fee. It's just that simple.</p>
                        </div>                            
                        </div>

                        <div class='' style='box-shadow:0 0 10px grey; background-color:grey; margin-top:7px;'>
                            <p class="heading text-center" style='font-family:Cinzel, serif;color:white;font-size:15px;padding-top:20px;padding-bottom:15px;'>Fill up agent assessment form</p>
                            
                        </div>

                        <div class='' style='box-shadow:0 0 10px grey; background-color:white; margin-top:-13px;'>
                            <p class="heading" style='font-family:Cinzel, serif;color:grey;font-size:20px;padding-top:10px;padding-bottom:-55px;padding-left:25px; ;'>Contact Us</p>
                            <div style='padding-top:10px;padding-left:20px; padding-bottom:-15px;margin-top:-25px;'>
                            <ul class="address-info list-unstyled" > 
                                <li style='color:grey;font-size:12px'><i class="fa fa-phone"></i> +971 4 277 6321</li>  
                                <li style='color:grey;font-size:12px'><i class="fa fa-envelope"></i> <a href="mailto:contact@propertyssimo.com">careers@propertyssimo.com</a></li> 
                            </ul>
                            </div>
                        </div>
                    
                </div>
         		 	<div class='col-md-7'>
         		 	<p class=" " style='color:grey;font-size:14px;'><b>More questions to ask yourself</b></p>

<p class=" " style='color:grey;font-size:12px; margin-top:-15px;'>These are characteristics of people with successful careers in real estate. If you feel these statements, sales may be just what you are looking for.</p>

<ul>

 <li><p class=" " style='color:grey;font-size:12px;'>I am a self starter. I take responsibility for getting my work done on schedule.</p></li>


<li><p class=" " style='color:grey;font-size:12px;'>I enjoy being on the move during the work day.</p> </li>

 <li><p class=" " style='color:grey;font-size:12px;'>I like meeting people and I'm at ease with all types of people.</p> </li>

 <li><p class=" " style='color:grey;font-size:12px;'>I am good at peruading people to take action.</p> </li>

<li><p class=" " style='color:grey;font-size:12px;'>I have great confidence in my ability to succeed.</p></li>

  <li><p class=" " style='color:grey;font-size:12px;'>I have a high activity level.</p> </li>

   <li><p class=" " style='color:grey;font-size:12px;'>I am willing to work odd hours when necessary.</p></li>

    <li><p class=" " style='color:grey;font-size:12px;'>I am comfortable asking people for referrals or leads.</p></li>

      <li><p class=" " style='color:grey;font-size:12px;'>I want a career that calls for quick thinking, creativity and great communication.</p></li>

<li><p class=" " style='color:grey;font-size:12px;'>I enjoy the excitement of competition.</p> </li>
<li><p class=" " style='color:grey;font-size:12px;'>I am enthusiastic about running my own business.</p></li>
<li>  <p class=" " style='color:grey;font-size:12px;'>I want to be rewarded based on my production.</p> </li>
</ul>


    <p class=" " style='color:grey;font-size:14px;'><b>Interested in joining Propertyssimo family?</b></p>
   <p class=" " style='color:grey;font-size:12px;margin-top:-15px;'>Contact us to discuss your real estate career and how we can help.</p>   


<hr style='border-color:#E4E4E4'>
 </div>

</div >
</div >
</section>
</div>

 {% endblock %}