{% extends 'base.html' %}
{% load staticfiles %}

{% block navi %}
                       
                        <li class="active"><a href="{% url 'investing' %}">Investors</a></li>
                                <li><a href="{% url 'selling' %}">Selling</a></li>
                                <li><a href="{% url 'buying' %}">Buying</a></li>
                                 <li><a href="{% url 'landlords' %}">Landlords</a></li>
                                <li><a href="{% url 'renter' %}">Letting</a></li>
                                <li><a href="{% url 'vacation' %}">Vacational Rentals</a></li>
                                
                            {% endblock %}

{% block main %}

 <section class="bread-wrap">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <h4>Investors</h4>
                    </div>
                    <div class="col-sm-6 hidden-xs text-right">
                        <ol class="breadcrumb">
                            <li><a href="index.html">Home</a></li>
                            <li>Investing</li>
                        </ol><!--breadcrumb-->
                    </div>
                </div>
            </div>
        </section><!--.bread-wrap-->
        <div class="divide80"></div>
        <div class="container">
            <div class="row">   
                <div class="col-md-9">
                    <div class="row">                       
                          <div class="col-md-12">
                            <div class="blog-wrap">
                                
                                    
                                        <img src="{% static 'img/showcase-1.jpg' %}" class="img-responsive" alt="workimg">
                                        
                                <div class="divide30"></div>
                                <div class="blog-desc">
                                    <h4>Investing</h4>
                                    <p>Property investment is arguably one of the safest ways to build and sustain wealth. You should always remember that the fundamentals to any 
                                        successful property investment is to find the right property to suit their needs, in the best location and at the lowest price.</p>
                                    <p><b>You must not consider investment until:</b></p>
                                    <li><p>You count Risk of Investment</p></li>
                                    <li><p>You learn about Current Market Conditions</p></li>
                                    <li><p>Evaluate Potential Returns</p></li>
                                    <li><p>Assess Time Frame</p></li>

                                    <p>Opportunities to invest in property should always be approached with caution. It is crucially important to develop <b>Investment strategy</b> that suits the best to maximise the investment returns and secure <b>the exit strategy</b></p>

                                    <div class='collapse' id='viewdetails' style='margin-top:100px;'>
                                        <h4>What type of Investor are you?</h4>
                                        <h5 style='margin-top:50px;'>Private Investor</h5>
                                        <p>A successful real estate investment relies heavily on the use of right investment strategy; however, they largely depend on the requirements and desires of individual property investor. </p> 

                                        <p>Before choosing an appropriate investment strategy it is important to define your overall investment objective and what you wish to gain from the investment. </p>

<p>There are number of common property investment strategies being utilised by individual property investors. Each investment strategy is different , targeting a variety of asset classes, risk levels, potential returns and investment terms</p>

<p>With Propertyssimo's experienced Real Estate Investment Specialists you secure:</p>
<ul style='color:grey'>
    <li>Exclusive and Unique real estate investment strategies based on your individual needs</li>
<li>Selection of best property investment and Off Market hidden opportunities</li>
<li>Comprehensive Investment Portfolio Management and dynamic follow up</li>
<li>Regular updates and reports on your investment.</li>
<li>Impressive Investment Returns with minimal risks</li> </ul>
 
<p>Be the first to discover unique investment opportunities!</p>
<p>We Guarantee: No pressured sales tactics, No obligation to invest, No share of your personal data, just friendly helpful advise when you need it!.</p>

                                        <h5 style='margin-top:50px;'>Institutional Investor</h5>
                                        <p>Propertyssimo's unique combination of real estate investment expertise, industry leading technology, superior support services and acclaimed research will offer customised solutions for institutional investors and sophisticated private family investors.</p>

<p>Renewed interest from institutional investors and increased global investment opportunities point to a bright future for real estate as an asset class. Investors are demanding increased control and reporting on their real estate investments, while regulatory change creates new challenges. Adapting efficiency to this new model is the key to success.</p>

<p>There are number of common property investment strategies being utilised by Institutional property investors. Each investment strategy is different , targeting a variety of asset classes, risk levels, potential returns and investment terms</p>

<p>With Propertyssimo's experienced Real Estate Investment Specialists you secure:</p>
<ul style='color:grey'><li>Exclusive and Unique real estate investment strategies</li> 
<li>Selection of best property investment and Off Market hidden opportunities</li>
<li>Comprehensive Investment Portfolio Management and dynamic follow up</li>
<li>Regular updates and reports on your investment.</li>
<li>Impressive Investment Returns with minimal risks</li></ul>
<p>We specialise in most of property types and markets such as residential, commercial, industrial, hospitality and land.</p>

                                        <h5 style='margin-top:50px;'>Developer</h5>
                                        <p>Propertyssimo offers selected developers innovative solutions to securing predevelopment marketing and sales. We do also partner with the industry's top real estate developers, consulting on creation and renovation of wide range of residential and commercial development projects.</p>

                                        <p>Our involvement in each project is comprehensive. From pre-development and construction to marketing, sales and title deed registration services, Propertyssimo is involved in every step of the way. Using our dedicated team from start-up to the final closing, we are uniquely positioned to offer specialised expert guidance.</p>
                                    </div>

                                    <p class='text-center'><a class="btn" data-toggle="collapse" data-target="#viewdetails">Read more &raquo;</a></p>
                                </div>
                            </div><!--blog wrap-->
                            <ul class="pager">
                        </div>
                    </div><!--row-->
                </div>
                <div class="col-md-3">
                    <div class="sidebar-box margin40">
                        <h4>Search</h4>
                        <form role="form" class="search-widget">
                            <input type="text" class="form-control">
                            <i class="fa fa-search"></i>
                        </form>
                    </div><!--sidebar-box-->
                    <div class="sidebar-box margin40">
                        <h4>Investing in Dubai</h4>
                        <p>
                            Investing in Real Estate in Dubai is arguably the best and safest way to increase your wealth. Read on to get an understanding in investment and how we can help you.
                        </p>
                    </div><!--sidebar-box-->
                    <div class="sidebar-box margin40">
                        <h4>Categories</h4>
                        <ul class="list-unstyled cat-list">
                            <li><a href="{% url 'selling' %}">Selling</a><i class="fa fa-angle-right"></i></li>
<li><a href="{% url 'buying' %}">Buying</a><i class="fa fa-angle-right"></i></li>
<li><a href="{% url 'landlords' %}">Landlords</a><i class="fa fa-angle-right"></i></li>
<li><a href="{% url 'renter' %}">Letting</a><i class="fa fa-angle-right"></i></li>
<li><a href="{% url 'vacation' %}">Vacational Rentals</a><i class="fa fa-angle-right"></i></li>

                        </ul>
                    </div><!--sidebar-box-->                
                </div>
            </div>
        </div><!--blog container-->

{% endblock %}

