{% extends 'base.html' %}
{% load staticfiles %}

{% block assets %}
<link href="{% static 'css/news_carousel.css' %}" rel="stylesheet">

{% endblock %}

                        {% block navi %}
                        <li class="active"><a href="/">Home</a></li>
                        <li><a href="{% url 'investing' %}">Investors</a></li>
                                <li><a href="{% url 'selling' %}">Selling</a></li>
                                <li><a href="{% url 'buying' %}">Buying</a></li>
                               <li><a href="{% url 'landlords' %}">Landlords</a></li>
                                <li><a href="portfolio-single.html">Letting</a></li>
                                <li><a href="portfolio-single.html">Vacational Rentals</a></li>
                                <li><a href="portfolio-single.html">New Developments</a></li>
                            {% endblock %}

{% block main %}

                       
        <section id="main-slider" class="parallax" data-stellar-background-ratio="0.5">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="main-slider">
                            <ul class="slides">
                                <li>
                                    <h2>Welcome to Propertyssimo</h2>
                                    <p><a href="#" class="btn border-white">Take a Tour</a></p>
                                </li>
                                <li>
                                    <h2>Get a free consultation</h2>
                                    <p><a href="#" class="btn border-white">Contact Now</a></p>
                                </li>
                                <li>
                                    <h2>Investing &amp; Buying</h2>
                                    <p><a href="#" class="btn border-white">Read more</a></p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section><!--slider main parallax-->
        
        <div class="divide80"></div>
        <div class="container">
           <h3 class="heading">Latest News</h3>
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
    
      <!-- Wrapper for slides -->
      <div class="carousel-inner">
      
        <div class="item active">
          <img src="http://placehold.it/760x400/cccccc/ffffff">
           <div class="carousel-caption">
            <h4><a href="#">Lorem ipsum dolor sit amet consetetur sadipscing</a></h4>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat. <a class="label label-primary" href="#" target="_blank"> button to link</a></p>
          </div>
        </div><!-- End Item -->
 
         <div class="item">
          <img src="http://placehold.it/760x400/999999/cccccc">
           <div class="carousel-caption">
            <h4><a href="#">consetetur sadipscing elitr, sed diam nonumy eirmod</a></h4>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat. <a class="label label-primary" href="#" target="_blank"> button to link</a></p>
          </div>
        </div><!-- End Item -->
        
        <div class="item">
          <img src="http://placehold.it/760x400/dddddd/333333">
           <div class="carousel-caption">
            <h4><a href="#">tempor invidunt ut labore et dolore</a></h4>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat. <a class="label label-primary" href="#" target="_blank"> button to link</a></p>
          </div>
        </div><!-- End Item -->
        
        <div class="item">
          <img src="http://placehold.it/760x400/999999/cccccc">
           <div class="carousel-caption">
            <h4><a href="#">magna aliquyam erat, sed diam voluptua</a></h4>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat. <a class="label label-primary" href="#" target="_blank"> button to link</a></p>
          </div>
        </div><!-- End Item -->

        <div class="item">
          <img src="http://placehold.it/760x400/dddddd/333333">
           <div class="carousel-caption">
            <h4><a href="#">tempor invidunt ut labore et dolore magna aliquyam erat</a></h4>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat. <a class="label label-primary" href="#" target="_blank"> button to link</a></p>
          </div>
        </div><!-- End Item -->
                
      </div><!-- End Carousel Inner -->


    <ul class="list-group col-sm-4">
      <li data-target="#myCarousel" data-slide-to="0" class="list-group-item active"><p>Lorem ipsum dolor sit amet consetetur sadipscing</p></li>
      <li data-target="#myCarousel" data-slide-to="1" class="list-group-item"><p>consetetur sadipscing elitr, sed diam nonumy eirmod</p></li>
      <li data-target="#myCarousel" data-slide-to="2" class="list-group-item"><p>tempor invidunt ut labore et dolore</p></li>
      <li data-target="#myCarousel" data-slide-to="3" class="list-group-item"><p>magna aliquyam erat, sed diam voluptua</p></li>
      <li data-target="#myCarousel" data-slide-to="4" class="list-group-item"><p>tempor invidunt ut labore et dolore magna aliquyam erat</p></li>
    </ul>

      <!-- Controls -->
      <div class="carousel-controls">
          <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
          <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
      </div>

    </div><!-- End Carousel -->
</div>

        <div class="divide60"></div>
        <section class="portfolio">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="heading">Featured Properties</h3>
                    </div>                   
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div id="work-carousel" class="owl-carousel owl-spaced">
                            <div>
                                <a href='http://propertyssimo.com/property/22'>
                                    <div class="item-img-wrap ">
                                        <img src="{% static 'img/Dubai_marina_4.jpg' %}" class="img-responsive" alt="workimg">
                                        <div class="item-img-overlay">
                                            <span></span>
                                        </div>
                                    </div>                       
                                </a><!--work link-->
                                <div class="work-desc">
                                    
                                    <h5><a href='http://propertyssimo.com/property/22'>1 Br in Adress Dubai Marina</a><br><b>AED 2,300,000</b></h5>
                                </div><!--work desc-->
                            </div><!--owl item-->
                            <div> 
                                <a href="http://propertyssimo.com/property/45">
                                    <div class="item-img-wrap">
                                        <img src="{% static 'img/1.gif' %}" class="img-responsive" alt="workimg">
                                        <div class="item-img-overlay">
                                            <span></span>
                                        </div>
                                    </div>                       
                                </a><!--work link-->
                                <div class="work-desc">
                                    <h5><a href="http://propertyssimo.com/property/45">1 Br in Executive Towers</a><br><b>AED 3,780,000</b></h5>
                                </div><!--work desc-->
                            </div><!--owl item-->
                            <div> 
                                <a href='http://propertyssimo.com/property/18'>
                                    <div class="item-img-wrap">
                                        <img src="{% static 'img/bot1.jpg' %}" class="img-responsive" alt="workimg">
                                        <div class="item-img-overlay">
                                            <span></span>
                                        </div>
                                    </div>                       
                                </a><!--work link-->
                                <div class="work-desc">
                                  
                                    <h5><a href='http://propertyssimo.com/property/18'>1 Br in Botanica</a><br><b>AED 1,525,000</b></h5>
                                </div><!--work desc-->
                            </div><!--owl item-->
                            <div> 
                                <a href='http://propertyssimo.com/property/73'>
                                    <div class="item-img-wrap">
                                        <img src="{% static 'img/o.jpg' %}" class="img-responsive" alt="workimg">
                                        <div class="item-img-overlay">
                                            <span></span>
                                        </div>
                                    </div>                       
                                </a><!--work link-->
                                <div class="work-desc">
                                    
                                    <h5><a href='http://propertyssimo.com/property/73'>3 Br in Sulafa Tower</a><br><b>AED 2,200,000</b></h5>
                                </div><!--work desc-->
                            </div><!--owl item-->
                            <div> 
                                <a href='http://propertyssimo.com/property/259'>
                                    <div class="item-img-wrap">
                                        <img src="{% static 'img/az.jpg' %}" class="img-responsive" alt="workimg">
                                        <div class="item-img-overlay">
                                            <span></span>
                                        </div>
                                    </div>                       
                                </a><!--work link-->
                                <div class="work-desc">
                                    
                                    <h5><a href='http://propertyssimo.com/property/259'>2 Br in Azure Residences</a><br><b>AED 4,859,400</b></h5>
                                </div><!--work desc-->
                            </div><!--owl item-->
                            <div> 
                                <a href='http://propertyssimo.com/property/62'>
                                    <div class="item-img-wrap">
                                        <img src="{% static 'img/eh.jpg' %}" class="img-responsive" alt="workimg">
                                        <div class="item-img-overlay">
                                            <span></span>
                                        </div>
                                    </div>                       
                                </a><!--work link-->
                                <div class="work-desc">
                                  
                                    <h5><a href='http://propertyssimo.com/property/62'>Office in Empire Heights</a><br><b>AED 1,200,000</b></h5>
                                </div><!--work desc-->
                            </div><!--owl item-->
                             <div> 
                                <a href='http://propertyssimo.com/property/251'>
                                    <div class="item-img-wrap">
                                        <img src="{% static 'img/pj.jpg' %}" class="img-responsive" alt="workimg">
                                        <div class="item-img-overlay">
                                            <span></span>
                                        </div>
                                    </div>                       
                                </a><!--work link-->
                                <div class="work-desc">
                                  
                                    <h5><a href='http://propertyssimo.com/property/251'>Penthouse in Palm Jumeirah</a><br><b>AED 12,000,000</b></h5>
                                </div><!--work desc-->
                            </div><!--owl item-->
                             <div> 
                                <a href='http://propertyssimo.com/property/106'>
                                    <div class="item-img-wrap">
                                        <img src="{% static 'img/fj.gif' %}" class="img-responsive" alt="workimg">
                                        <div class="item-img-overlay">
                                            <span></span>
                                        </div>
                                    </div>                       
                                </a><!--work link-->
                                <div class="work-desc">
                                  
                                    <h5><a href='http://propertyssimo.com/property/106'>2 Br in Al Furjan</a><br><b>AED 1,200,000</b></h5>
                                </div><!--work desc-->
                            </div><!--owl item-->

                              <div> 
                                <a href='http://propertyssimo.com/property/56'>
                                    <div class="item-img-wrap">
                                        <img src="{% static 'img/the_torch.jpg' %}" class="img-responsive" alt="workimg">
                                        <div class="item-img-overlay">
                                            <span></span>
                                        </div>
                                    </div>                       
                                </a><!--work link-->
                                <div class="work-desc">
                                  
                                    <h5><a href='http://propertyssimo.com/property/56'>3 Br in The Torch</a><br><b>AED 7,100,000</b></h5>
                                </div><!--work desc-->
                            </div><!--owl item-->
                              <div> 
                                <a href='http://propertyssimo.com/property/57'>
                                    <div class="item-img-wrap">
                                        <img src="{% static 'img/Dubai_marina_4.jpg' %}" class="img-responsive" alt="workimg">
                                        <div class="item-img-overlay">
                                            <span></span>
                                        </div>
                                    </div>                       
                                </a><!--work link-->
                                <div class="work-desc">
                                  
                                    <h5><a href='http://propertyssimo.com/property/57'>1 Br in Concorde Tower</a><br><b>AED 1,200,000</b></h5>
                                </div><!--work desc-->
                            </div><!--owl item-->
                        </div>
                    </div>
                </div><!--row-->
                <div class="divide30"></div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <a href="{% url 'site_listings' %}" class="btn border-black wow animated fadeInUp">See All Properties</a>
                    </div>
                </div>
            </div><!--container-->
        </section><!--recent work section -->
        <section class="testimonials parallax" data-stellar-background-ratio="0.5">
            <div class="container">

                <div class="row">
                    <div class="col-md-12 text-center">
                        <div id="testi-carousel" class="owl-carousel owl-spaced">
                            <div>
                                <h4>
                                    List with us and get the most of your Properties. Take action now!
                                </h4>
                                <a href="{% url 'site_listings' %}" style='color:orange; border-color:orange;' class="btn border-black wow animated fadeInUp">List with us</a>
                            </div><!--testimonials item like paragraph-->
                        </div>
                    </div>
                </div>
            </div>
        </section><!--testimonials-->
        <div class="divide80"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="heading">Why Propertyssimo</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 margin20">
                    <div class="post-wrap wow animated fadeInLeft">
                        <a href="blog-post.html">
                            <div class="item-img-wrap">
                                <img src="img/work-7.png" class="img-responsive" alt="workimg">
                                <div class="item-img-overlay">
                                    <span></span>
                                </div>
                            </div>                       
                        </a><!--post link--> 
                        <div class="post-desc">
                            <h4><a href="#">This is who we are</a></h4>
                            <p>
                                Quisque ligulas ipsum, euismod atras vulputate <span class="text-color">iltricies</span> etri elit. Lorem ipsum dolor sit amet, consectetur.
                            </p>
                            <p><a href="blog-post.html">Read More...</a></p>
                        </div><!--post-desc-->
                    </div><!-- post wrap-->
                </div>
                <div class="col-md-4 margin20">
                    <div class="post-wrap wow animated fadeInLeft">
                        <a href="blog-post.html">
                            <div class="item-img-wrap">
                                <img src="img/work-5.png" class="img-responsive" alt="workimg">
                                <div class="item-img-overlay">
                                    <span></span>
                                </div>
                            </div>                       
                        </a><!--post link--> 
                        <div class="post-desc">
                            <h4><a href="#">This is what we offer</a></h4>
                            <p>
                                Quisque ligulas ipsum, euismod atras vulputate iltricies etri elit. <span class="text-color">Lorem ipsum dolor</span> sit amet, consectetur.
                            </p>
                            <p><a href="blog-post.html">Read More...</a></p>
                        </div><!--post-desc-->
                    </div><!-- post wrap-->
                </div>
                <div class="col-md-4 margin20">
                    <div class="post-wrap wow animated fadeInLeft">
                        <a href="blog-post.html">
                            <div class="item-img-wrap">
                                <img src="img/work-8.png" class="img-responsive" alt="workimg">
                                <div class="item-img-overlay">
                                    <span></span>
                                </div>
                            </div>                       
                        </a><!--post link--> 
                        <div class="post-desc">
                            <h4><a href="#">How the deals happen</a></h4>
                            <p>
                                Quisque ligulas ipsum, euismod atras vulputate iltricies etri elit. Lorem ipsum dolor sit amet, consectetur.
                            </p>
                            <p><a href="blog-post.html">Read More...</a></p>
                        </div><!--post-desc-->
                    </div><!-- post wrap-->
                </div>
            </div>
        </div><!--latest news-->


        <section class="parallax process-rounded" data-stellar-background-ratio="0.5">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h3>Our Process</h3>
                    </div> 
                </div>
                <div class="row">
                    <div class="col-md-3 margin20">
                        <div class="process-box">
                            <i class="fa fa-lightbulb-o"></i>
                            <h4>step 1</h4>
                        </div><!--process box-->
                    </div><!--process col-->
                    <div class="col-md-3 margin20">
                        <div class="process-box">
                            <i class="fa fa-pencil"></i>
                            <h4>step 2</h4>
                        </div><!--process box-->
                    </div><!--process col-->
                    <div class="col-md-3 margin20">
                        <div class="process-box">
                            <i class="fa fa-bars"></i>
                            <h4>step 3</h4>
                        </div><!--process box-->
                    </div><!--process col-->
                    <div class="col-md-3 margin20">
                        <div class="process-box">
                            <i class="fa fa-plane"></i>
                            <h4>step 4</h4>
                        </div><!--process box-->
                    </div><!--process col-->
                </div>
            </div>
        </section><!--process rounded-->
        <div class="divide80"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-5 margin30">
                    <h3 class="heading">Get In Touch</h3>
                    <div class="contact-form">
                        <form role="form">
                            <div class="form-group">
                                <label for="name">Name</label>
                                <input type="text" class="form-control" id="name">
                            </div>
                            <div class="form-group">
                                <label for="mail">Email</label>
                                <input type="email" class="form-control" id="mail" required>
                            </div>
                            <div class="form-group">
                                <label for="message">Message</label>
                                <textarea class="form-control" rows="6" id="message" required></textarea>
                            </div>

                            <button type="submit" class="btn btn-theme-bg">Send Message</button>
                        </form><!--form-->
                    </div><!--contact-form-->
                </div><!--contact col-->
                <div class="col-md-7 about-us">
                    <h3 class="heading">Little About us</h3>
                    <img src="{% static 'img/logo_final.png' %}" class="img-responsive" style='height:auto' alt="">
                    <p >
                       Propertyssimo Real Estate has recently launched our new approach and 
integrated the latest technologies into business of real estate. Supported with 
highly trained, dedicated, classy team of professionals, prioritizing the interests 
of our Clientelle Exclusively, we are here to nurture your comfort and success.
                    </p>
                </br>
                    <p>
                       Being a former AJ Real Estate, established in 2003 we have grown and learned 
following the strategy of UAE Leaders, combined with international expertise 
and practice. The world goes further, so do we.
                    </p>
                </br>
                <p>We have earned respect of hundreds investors worldwide, who stay with us for 
years, refer the family members, associates and friends. The appreciation and 
gratitude of our clients motivate each member of Propertyssimo family to strike 
the best deals.</p> 
                    <div class="divide30"></div>
                    <blockquote>
                          <p>
                  Whether you are an individual or corporate client, and no matter how big or 
small your goals are, our industry-leading expertise in all aspects or real estate 
makes Propertyssimo the first place to turn for success.
                    </p>
                    </blockquote>
                 
                </div>
            </div>
        </div><!--contact and about us end-->
        <div class="divide60"></div>
        <div class="container">    
            <div class="row">
                <div class="col-md-12">
                    <h3 class="heading">Some Facts</h3>
                </div>
            </div>
            <div class="divide40"></div>
            <div class="row">
                <div class="col-md-3 margin20 facts-in">
                    <h3><i class="fa fa-home"></i><span class="counter">200</span></h3>
                    <h4>Homes for Sale</h4>
                </div><!--facts in-->
                <div class="col-md-3 margin20 facts-in">
                    <h3><i class="fa fa-building"></i><span class="counter">68</span></h3>
                    <h4>Offices for Rent</h4>
                </div><!--facts in-->
                <div class="col-md-3 margin20 facts-in">
                    <h3><i class="fa fa-users"></i><span class="counter">600</span></h3>
                    <h4>Customers</h4>
                </div><!--facts in-->
                <div class="col-md-3 margin20 facts-in">
                    <h3><i class="fa fa-list"></i><span class="counter">1500</span></h3>
                    <h4>Listings</h4>
                </div><!--facts in-->
            </div>
        </div><!--fun facts container-->

        {% endblock %}