{% extends 'base.html' %}
{% load staticfiles %}

{% block navi %}
                        <li ><a href="/">Home</a></li>
                        <li ><a href="{% url 'investing' %}">Investors</a></li>
                                <li><a href="{% url 'selling' %}">Selling</a></li>
                                <li><a href="{% url 'buying' %}">Buying</a></li>
                                <li class="active"><a href="portfolio-single.html">Landlords</a></li>
                                <li><a href="portfolio-single.html">Letting</a></li>
                                <li><a href="portfolio-single.html">Vacational Rentals</a></li>
                                <li><a href="portfolio-single.html">New Developments</a></li>
                            {% endblock %}

{% block main %}

 <section class="bread-wrap">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <h4>Landlords</h4>
                    </div>
                    <div class="col-sm-6 hidden-xs text-right">
                        <ol class="breadcrumb">
                            <li><a href="index.html">Home</a></li>
                            <li>Landlords</li>
                        </ol><!--breadcrumb-->
                    </div>
                </div>
            </div>
        </section><!--.bread-wrap-->
        <div class="divide80"></div>
        <div class="container">
            <div class="row">   
                <div class="col-md-9">
                    <div class="row">                       
                          <div class="col-md-12">
                            <div class="blog-wrap">
                                
                                    
                                        <img src="{% static 'img/showcase-1.jpg' %}" class="img-responsive" alt="workimg">
                                        
                                <div class="divide30"></div>
                                <div class="blog-desc">
                                    <h4>Landlords</h4>
                                   <h5>Looking for Property Management Services?</h5>
                                   <p>Renting out in Dubai is an adventure! We live in one of the most in-demand and complicated real estate markets in the region. With careful planning, attention to details and consistent follow through, Propertyssimo agents excel at getting their clients the highest price, selected tenants and best terms when it comes to rentingof your most important asset.</p>
  <p>We take the stress out of the process and managing all kinds of requests including maintenance. Our process is tried and true. Relax and let us work out the day-to-day issues.</p>
    <h5>What does Propertyssimo provide?</h5>
    <li><p>Analyze Market</p></li>
    <li><p>Estimate rents, make recommendations to maximize rents</p></li>
    <li><p>Evaluate Potential Returns</p></li>
    <li><p>Assess Time Frame</p></li>


    <div class='collapse' id='viewdetails' style='margin-top:50px;'>
        <h5>I want to sell or rent, which ever happens first!</h5>
        <p style='margin-top:;'>This is actually a fairly common circumstance. We understand that there are times, when you need income from your property quickly and cannot wait for it to sell. Contact us to request more information.</p>
    
      <h5 style='margin-top:50px;'>Development Remodelling</h5>
        <p style='margin-top:;'>Propertyssimo will turn your unsuccessful development into 'Project in Demand'. Our team of affliated consultants, architects and contractors will renevote and/or remodel the development to convert it into feasible and attractive real estate. We have a number of successful buildings converted into Hotels and Hotel Apartments.</p>
    


</div>
<p class='text-center'><a class="btn" data-toggle="collapse" data-target="#viewdetails">Read more &raquo;</a></p>
</div>
                            </div><!--blog wrap-->
                            <ul class="pager">
                        </div>
                    </div><!--row-->
                </div>
                <div class="col-md-3">
                    <div class="sidebar-box margin40">
                        <h4>Search</h4>
                        <form role="form" class="search-widget">
                            <input type="text" class="form-control">
                            <i class="fa fa-search"></i>
                        </form>
                    </div><!--sidebar-box-->
                    <div class="sidebar-box margin40">
                        <h4>Investing in Dubai</h4>
                        <p>
                            Investing in Real Estate in Dubai is arguably the best and safest way to increase your wealth. Read on to get an understanding in investment and how we can help you.
                        </p>
                    </div><!--sidebar-box-->
                    <div class="sidebar-box margin40">
                        <h4>Categories</h4>
                        <ul class="list-unstyled cat-list">
                            <li><a href="{% url 'selling' %}">Selling</a><i class="fa fa-angle-right"></i></li>
<li><a href="{% url 'investing' %}">Investing</a><i class="fa fa-angle-right"></i></li>
<li><a href="{% url 'buying' %}">Buying</a><i class="fa fa-angle-right"></i></li>
<li><a href="portfolio-single.html">Letting</a><i class="fa fa-angle-right"></i></li>
<li><a href="portfolio-single.html">Vacational Rentals</a><i class="fa fa-angle-right"></i></li>
<li><a href="portfolio-single.html">New Developments</a><i class="fa fa-angle-right"></i></li>
                        </ul>
                    </div><!--sidebar-box-->                
                </div>
            </div>
        </div><!--blog container-->

{% endblock %}

