{% extends 'base.html' %}
{% load staticfiles %}

{% block assets %}
 <link href="{% static 'assets/css/carousel_1.css' %}" rel="stylesheet">
 <style>
 p
 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size:17px;
 }
h1
{

    font-family: 'Open Sans Condensed', sans-serif;
    font-size:37px; 
}
 </style>
 {% endblock %}


{% block nav %}


{% endblock %}

{% block main %}

  

  <div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
  <!-- Overlay -->
  <div class="overlay"></div>

  <!-- Indicators -->

  
  <!-- Wrapper for slides -->
  <div class="carousel-inner" style='margin-top:-6%'>
    <div class="item slides active">
      <div class="slide-1"></div>
      <div class="hero">
       
            <img src="{% static 'assets/img/nl.png' %}" style='width:20%'/>
            <h1>We are propertyssimo</h1>        
            <h3>Investment Advisory</h3>
      
        <a href="{% url 'site_listings' %}"><button  class="btn btn-hero btn-lg" role="button" style='background:none;'>See Available Properties</button></a>
      </div>
    </div>
    
  </div> 
</div>
  <div class='container'>
  <div class='row'>
    <div class='col-lg-1'></div>
    <div class='col-lg-10'>
<nav class="navbar navbar-inverse" >
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
       
      <ul class="nav navbar-nav">

        <li style='margin-right:35px;'><a href="{% url 'investing' %}">Investors</a></li>
        <li style='margin-right:35px;'><a href="{% url 'selling' %}">Selling</a></li>
        <li style='margin-right:35px;'><a href="{% url 'buyers' %}">Buying</a></li>
        <li style='margin-right:35px;'><a href="{% url 'landlords' %}">Landlords</a></li>
        <li style='margin-right:35px;'><a href="#">Letting</a></li>
        <li style='margin-right:35px;'><a href="#">Vacational Rentals</a></li>
        <li style='margin-right:35px;'><a href="#">New Developments</a></li>

      </ul>
    </div><!-- /.navbar-collapse -->
  </nav>
</div>
  <div class='col-lg-1'></div>
</div>
  </div><!-- /.container-fluid -->

<div class="container" style='margin-top:50px;'>
    <div class="row">
      <h3 style='padding:15px;'>Featured Properties</h3>
    <div class="col-md-12">
                <div id="Carousel" class="carousel-featured slide">

                <!-- Carousel items -->
                <div class="carousel-inner">
                    
                <div class="item active">
                  <div class="row">
                    <div class="col-md-3 post">
                      <div class="post-img-content">
                       <a href='http://propertyssimo.com/property/22'><img src="{% static 'assets/img/Dubai_marina_4.jpg' %}" class="img-responsive"  /></a>
                          <span class="post-title"><p>1 Br in Adress Dubai Marina</b><br />
                          <b>AED 2,300,000</b></span>
                      </div>
                    </div>
                   <div class="col-md-3 post">
                      <div class="post-img-content">
                   <a href='http://propertyssimo.com/property/45'><img src="{% static 'assets/img/1.gif' %}" class="img-responsive"  /></a>
                          <span class="post-title"><p>5 Br in Sadaf 5</b><br />
                          <b>AED 3,780,000</b></span>
                      </div>
                    </div>
                    <div class="col-md-3 post">
                      <div class="post-img-content">
                       <a href='http://propertyssimo.com/property/23'> <img src="{% static 'assets/img/e.jpg' %}" class="img-responsive"  /></a>
                          <span class="post-title"><p>1 Br in Executive Towers</b><br />
                          <b>AED 2,000,000</b></span>
                      </div>
                    </div>
                   <div class="col-md-3 post">
                      <div class="post-img-content">
                      <a href='http://propertyssimo.com/property/18'>  <img src="{% static 'assets/img/bot1.jpg' %}" class="img-responsive"  /></a>
                          <span class="post-title"><p>1 Br in Botanica</b><br />
                          <b>AED 1,525,000</b></span>
                      </div>
                    </div>
                  </div><!--.row-->
                </div><!--.item-->
                 
                <div class="item">
                  <div class="row">
                   <div class="col-md-3 post">
                      <div class="post-img-content">
                     <a href='http://propertyssimo.com/property/73'>   <img src="{% static 'assets/img/o.jpg' %}" class="img-responsive"  /></a>
                          <span class="post-title"><p>1 Br in Royal Oceanic</b><br />
                          <b>AED 1,500,000</b></span>
                      </div>
                    </div>
                    <div class="col-md-3 post">
                      <div class="post-img-content">
                      <a href='http://propertyssimo.com/property/77'> <img src="{% static 'assets/img/the_torch.jpg' %}" class="img-responsive"  /></a>
                          <span class="post-title"><p>3 Br in Sulafa Tower</b><br />
                          <b>AED 2,200,000</b></span>
                      </div>
                    </div>
                    <div class="col-md-3 post">
                      <div class="post-img-content">
                     <a href='http://propertyssimo.com/property/259'>   <img src="{% static 'assets/img/az.jpg' %}" class="img-responsive"  /></a>
                          <span class="post-title"><p>2 Br in Azure Residences</b><br />
                          <b>AED 4,859,400</b></span>
                      </div>
                    </div>
                    <div class="col-md-3 post">
                      <div class="post-img-content">
                      <a href='http://propertyssimo.com/property/62'>  <img src="{% static 'assets/img/eh.jpg' %}" class="img-responsive"  /></a>
                          <span class="post-title"><p>Office in Empire Heights</b><br />
                          <b>AED 1,200,000</b></span>
                      </div>
                    </div>
                  </div><!--.row-->
                </div><!--.item-->
                 
                <div class="item">
                  <div class="row">
                    <div class="col-md-3 post">
                      <div class="post-img-content">
                   <a href='http://propertyssimo.com/property/251'><img src="{% static 'assets/img/pj.jpg' %}" class="img-responsive"  /></a>
                          <span class="post-title"><p>Penthouse in Palm Jumeirah</b><br />
                          <b>AED 12,000,000</b></span>
                      </div>
                    </div>
                    <div class="col-md-3 post">
                      <div class="post-img-content">
                     <a href='http://propertyssimo.com/property/106'>  <img src="{% static 'assets/img/fj.gif' %}" class="img-responsive"  /></a>
                          <span class="post-title"><p>2 Br in Al Furjan</b><br />
                          <b>AED 1,200,000</b></span>
                      </div>
                    </div>
                   <div class="col-md-3 post">
                      <div class="post-img-content">
                      <a href='http://propertyssimo.com/property/56'>  <img src="{% static 'assets/img/the_torch.jpg' %}" class="img-responsive"  /></a>
                          <span class="post-title"><p>3 Br in The Torch</b><br />
                          <b>AED 7,100,000</b></span>
                      </div>
                    </div>
                   <div class="col-md-3 post">
                      <div class="post-img-content">
                       <a href='http://propertyssimo.com/property/57'> <img src="{% static 'assets/img/Dubai_marina_4.jpg' %}" class="img-responsive"  /></a>
                          <span class="post-title"><p>1 Br in Concorde Tower</b><br />
                          <b>AED 1,200,000</b></span>
                      </div>
                    </div>
                  </div><!--.row-->
                </div><!--.item-->
                 
                </div><!--.carousel-inner-->
                  <a data-slide="prev" href="#Carousel" class="left carousel-control">‹</a>
                  <a data-slide="next" href="#Carousel" class="right carousel-control">›</a>
                </div><!--.Carousel-->
                
    </div>


  </div>
<div class='text-center'>
<a href='site_listings'><button class="btn btn-hero btn-lg" role="button" style='background:none;color:black'>View all Properties</button></a>
</div>

        
     


</div>
{% endblock %}