{% extends 'base.html' %}
{% load staticfiles %}

{% block navi %}
                        
                        <li ><a href="{% url 'investing' %}">Investors</a></li>
                                <li><a href="{% url 'selling' %}">Selling</a></li>
                                <li><a href="{% url 'buying' %}">Buying</a></li>
                                <li><a href="{% url 'landlords' %}">Landlords</a></li>
                                <li class="active"><a href="{% url 'renter' %}">Letting</a></li>
                                <li><a href="{% url 'vacation' %}">Vacational Rentals</a></li>
                                
                            {% endblock %}

{% block main %}


<div class='row' style='background-color:#f0f0f0;width:100%;'>
 <img src="{% static 'img/rentals.jpg' %}" class="img-responsive center-block" alt="workimg" style="width:50%;">
</div>

<div class='row' style="background-color:#262626;width:100%;padding:25px;">
    <div class='container text-center'>
     <p style='font-family: Great Vibes, cursive;font-size:30px;margin-top:10px;color:#f0f0f0;'>At Propertyssimo, our philosophy is simple, yet it is the key to our success: The right broker makes all the difference.</p>
</div>
</div>

 <section class="portfolio" style='margin-top:;margin-bottom:px;z-index:10;background-color:#f0f0f0;' >
        
        <div class='container' style=' margin-top:-59px;margin-bottom:-80px; box-shadow:0 0 30px grey; padding-top:50px; padding-bottom:70px;position:relative; background-color:#E6E6E6; width:74%;'>
         <div class='container' style=' margin-top:-50px;margin-bottom:-;margin-left:-14px; box-shadow:0 0 10px grey; padding-top:50px; padding-bottom:;position:; background-color:#f0f0f0; width:103%;'>


             
            <p class="heading text-center" style='font-family:Cinzel, serif;color:;font-size:25px;hover:#FF6600;focus:#FF6600'>I'm Looking to Rent</p>

           
                 <div class='row'>
                    <div class='col-md-2'></div>

                    <div class='col-md-8'>
                      <h4 style='color:#424242;font-size:14px;'><b>RESIDENTIAL PROPERTY</b></h4>
                        <h4 style='color:#424242;font-size:12px;'><b>Looking for the Perfect Property to meet your requirements and budgets? We can help!</b></h4>
                    <p class=" " style='color:grey;font-size:12px;'>From the proximity of your child's school to the government registration of your tenancy contract, there are many issues  that need to be taken into consideration before renting your new home.</p>

 <h4 style='color:#424242;font-size:12px;'><b>Propertyssimo Leasing Agent is here to:</b></h4>
 <div class='row'>
        <ul style='color:grey;font-size:12px;'>
            <li>conduct research on ideal area and neighborhood for you</li>
             <li>consider convenience of locations in terms of accessibility, transportation, schools, and any other matters of your importance</li>
              <li>advise on budget, fees, relocation expenses, deposits and utility connection fees</li>
               <li>inspect the property and take care of necessary repairs or maintenance work</li>
                <li>make sure that your Tenancy Contract has no hidden sides and all terms, charges, fees, as well as due diligence on property and landlord ownership made.</li>
                 <li>find you comfortable and happy in your new home</li>
             </ul>
</div>
<p class'pull-right' style='color:grey; font-size:12px;'><b>Contact us to request more information.<b></p>
</div>


</div>
</div>

<div class='container' style='width:70%; margin-top:35px;'>
 <h5 class='text-center' style='font-size:25px; color:#6E6E6E'>Rent Vs Buy?</h5>
 <br>
        <p class'pull-right' style='color:#424242; font-size:12px;'><b>What are the benefits of renting versus buying?<b></p>

         <p style='color:grey; font-size:12px;'>The decision to continue renting or to buy can be a confusing one. Some people continue renting because of the perceived flexibility of moving almost as soon as you decide. Although moving before a lease is up can cost you money, some continue renting because they don't want the responsibility that goes with home ownership.</p>

    <h5 style='color:#424242; font-size:12px;'>Here are some things to consider when choosing between renting and buying:</h5>
   <ul style='color:grey; font-size:12px;'>
    <li>Do you want to spend several years in a house or commercial premises?</li>
    <li>Do you need flexibility to move suddenly to care for family or other reasons?</li>
    <li>Do you want to keep your assets accessible in the bank, or do you want to invest long-term in property?</li>
    <li>Is personalizing your surroundings  important to you?</li>
</ul>

<div class='collapse' id='viewdetails'>
<h4 style='margin-top:50px;'>Other reasons to buy Property:</h4>
<ul style='color:; font-size:12px;'>
    <li>It's a good investment. </li>
<p >Investors say overwhelmingly that real estate can typically be a safer and better investment than stocks and bonds!</p>
<li>Improvements add value.</li>
<p> Unlike rental improvements, improvements to your property  increases its value.</p>
<li>Buying builds equity.</li>
<p> Buying a home is good use of your money. As you make payments over time, the equity increases. When renting, you get no return for your money. Once the money is spent, it's gone.</p>
<li>Low interest rates.</li>
<p> While interest rates are slowly going up, the nation is still experiencing record low rates which allows buyers to buy more house for their money at lower monthly payments.</p>
<li>Capital appreciation.</li>
<p> Unlike buying a car, or renting...real estate (when taken care of) usually appreciate in value.</p>
<li>More Space.</li>
<p> If you've always wanted that extra room for an office or weight room...here's your chance. Renters typically live in smaller spaces...home buyers have more square footage for their money.</p>
<li>The "owned" home is your castle.</li>
<p> You control the decor. You can paint and decorate as you like. You can add to the size of your home and make improvements. You will not have to face rent increases.</p>
</div>
<p class='text-center' style='color:grey;font-size:12px;'><a  class="btn" data-toggle="collapse" data-target="#viewdetails">Read more &raquo;</a></p>
</div>
</div><!--blog wrap-->

 </div>
<div class='col-md-2'></div>

</div >

</div >

</section>




{% endblock %}