{% extends 'base.html' %}
{% load staticfiles %}

{% block assets %} 
 <script>
    $(document).ready(function(){
      $('.clickable').click(function(){
        window.document.location = $(this).data('url')
      });

    });
    </script>
{% endblock %}

{% block main %}

<nav class="navbar navbar-default" style='margin-top:100px;'>
         <div class='container'>
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style='padding:10px;'>
      <ul class="nav navbar-nav">

      <form class="navbar-form " role="search" method="GET">
        <div class="form-group">
        	<select name='type' class='form-control'>
			    <option value="">Rent/Sale</option>
			    <option value="RP">Rent</option>
			    <option value="SP">Sale</option>
			</select>
			<select name='subtype' class='form-control'>
			    <option value="">Apartment/Villa</option>
			    <option value="AP">Apartment</option>
			    <option value="VI">Villa</option>
			    <option value="CO-OF">Office</option>
			    <option value="CO-RE">Retail</option>
			    <option value="CO-ST">Staff Acc.</option>
			    <option value="CO-IN">Industrial</option>
			</select>
			<select name='br' class='form-control'>
			    <option value="">Bedrooms</option>
			    <option value="0">Studio</option>
			    <option value="1">1</option>
			    <option value="2">2</option>
			    <option value="3">3</option>
			    <option value="4">4</option>
			    <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
			</select>
      <select name='status' class='form-control'>
          <option value="">Active/Sold</option>
          <option value="1">Active</option>
          <option value="0">Sold</option>
      </select>
      <select name='area' class='form-control'>
          <option value="">Area</option>
          {% for option in area_options %}
          <option value="{{option}}">{{option}}</option>
          {% endfor %}
      </select>
       
          <div class='row' style='margin-top:25px;' >
            <div class='col-md-3'>
            <input type="text" name='min_price' class="form-control" style='margin:;' placeholder="Min Price">
          </div>
          <div class='col-md-3'>
          <input type="text" name='max_price' class="form-control" style='margin:;' placeholder="Max Price">
        </div>
        <div class='col-md-4'>
          <input type="text" name='search' class="form-control pull" style=' padding-right:210px;' placeholder="Search">
        </div>
        <div class='col-md-2'>
           <button type="submit" class="btn" style='background:#0e3695;color:white;'>Submit</button>
         </div>
        
      </form>
      </div>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class='container' style='margin-bottom:250px'>
<h1>{{listings.count}} Properties found</h1>

<table class='table table-hover'>
  <tr>
    <td></td>
      <td></td>
      <td>Type</td>
     <td>Subtype</td>
     <td>Bedrooms</td>
     <td>Area</td>
     <td>Building</td>
     <td></td>
  </tr>
  	{% for listing in listings %}
    <tr class='clickable' data-url='{{listing.get_absolute_url}}' style='cursor:pointer'>
      <td><img src="{{listing.get_thumbnail_image}}"  style='width:150px;height:100px;'></td>
      <td>{{listing}}<br><span class='badge'>{{listing.get_price}}</span></td>
      {% if listing.type == "SP" %}
      <td>Sale</td>
      {% elif listing.type == "RP" %}
      <td>Rent</td>
      {% endif %}

      {% if listing.subtype == "AP" %}
     <td>Apartment</td>
     {% elif listing.subtype == "VI" %}
     <td>Villa</td>
     {% elif listing.subtype == "CO" %}
     <td>Commercial</td>
     {% endif %}
     {% if listing.bedrooms == '0' %}
     <td>Studio</td>
     {% else %}
     <td>{{listing.bedrooms}}</td>
     {% endif %}
     <td>{{listing.location}}</td>
     <td>{{listing.building}}</td>
     <td>{{listing.agent_name}}<br>
     {{listing.agent_email}}<br>
     {{listing.agent_mobile}}<br>
     {% if listing.published_on_dbz == "True" %}
    <img src="{% static 'assets/img/dub.png' %}" style='zoom:0.25'/> 
    {% endif %}
    {% if listing.published_on_pf == "True" %}
    <img src="{% static 'assets/img/prop.jpg' %}" style='zoom:0.3'/> 
    {% endif %}
    </td>
      </tr>
{% endfor %}
</table>
</div>
</div>
</div>

{% endblock %}