{% extends 'base.html' %}
{% load staticfiles %}

{% block navi %}
                        
                        <li ><a href="{% url 'investing' %}">Investors</a></li>
                                <li><a href="{% url 'selling' %}">Selling</a></li>
                                <li><a href="{% url 'buying' %}">Buying</a></li>
                                <li><a href="{% url 'landlords' %}">Landlords</a></li>
                                <li ><a href="{% url 'renter' %}">Letting</a></li>
                                <li class="active"><a href="{% url 'vacation' %}">Vacational Rentals</a></li>
                                
                            {% endblock %}

{% block main %}



<div class='row' style='background-color:#f0f0f0;width:100%;'>
 <img src="{% static 'img/Atlantis5.jpg' %}" class="img-responsive" alt="workimg">
</div>




 <section class="portfolio" style='margin-top:;margin-bottom:px;z-index:10;background-color:#f0f0f0;' >
       <div class='container' style=' margin-top:-59px;margin-bottom:-80px; box-shadow:0 0 30px grey; padding-top:50px; padding-bottom:70px;position:relative; background-color:#E6E6E6; width:74%;'>
         <div class='container' style=' margin-top:-50px;margin-bottom:-;margin-left:-14px; box-shadow:0 0 10px grey; padding-top:50px; padding-bottom:;position:; background-color:#f0f0f0; width:103%;'>


            <p class="heading text-center" style='font-family:Cinzel, serif;color:;font-size:25px;hover:#FF6600;focus:#FF6600'>Propertyssimo introduces Dubai to the World</p>

           
                 <div class='row'>
                    <div class='col-md-2'></div>

                    <div class='col-md-8'>
                       
                    <p class=" " style='color:grey;font-size:12px;'>Dubai is an absolute holiday destination of 21 st century. We are pleased to offer you wide range of holiday accommodations, based on your interest and budget. From hotels, hotel apartments, serviced apartments and furnished villas you are spoilt for choice.</p>

                    <p class=" " style='color:grey;font-size:12px;'>Furnished and serviced properties managed by Propertyssimo come complete with all conveniences and essentials. Regular checks conducted by our property management team ensures the properties are impeccably maintained.</p>




</div>
</div>



</div>

</div>
</div>

</div>
</div><!--blog wrap-->

 </div>
<div class='col-md-2'></div>
</div >
</div >
</section>








{% endblock %}